@import './default.less';
@import './loading.less';
ul,li{
    list-style-type: none;
}
.container{
    display:flex;
    .nav-left{
        background-color:@colorS;
        height: calc(100vh);
    }
    .main{
        background-color: @colorL;
        height: calc(100vh);
        overflow: auto;
        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
          }
    }
    .content{
        position: relative;
        padding: 20px;
    }
}
//清除浮动通用样式
.clearfix{
    &::after{
        content: "";
        clear: both;
        display: block;
        visibility: hidden;
    }
}
//通用表格样式
.content-wrap{
    border: 1px solid #e8e8e8;
    margin-top: -3px;
    .ant-table-wrapper{
        margin-left: -1px;
        margin-right: -10px;
    }
}
//common订单详情页面
.simple-page{
    .header-top{
      background:#1890ff;
      color:@colorM;
    }
}
.operate-wrap{
    button{
        margin-right: 20px;
    }
}